.has-error .error{color: #a94442;display: block;}
.color-fff{color: #ffffff;}
.plr-10{padding-left:10px;padding-right:10px;}
.plr-30{padding-left:30px;padding-right:30px;}
.bg-title1{background: url("../img/ctitle1.png") no-repeat left top;margin: 0px;padding: 20px 10px;}
.bg-title2{background: url("../img/ctitle2.png") no-repeat right top;padding:10px;}
.order-main{background: url("../img/cbg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom:20px;
}
.order-div{position: relative;}
/*.orderForm:before,.orderForm:after{content: " ";position: absolute;z-index: -1;width: 15%;padding-top: 37%;}
.orderForm:before{left: 0px;top: 0px;background: url("../img/left.png") no-repeat top left;}
.orderForm:after{right: 0px;bottom: 0px;background: url("../img/right.png") no-repeat bottom right;}*/
.orderForm{position: relative;z-index: 1;background: #fff;overflow: hidden;border-bottom-right-radius: 40px;padding-top: 120px;padding-bottom: 120px;}
#door_unit{float: left;white-space:nowrap;padding-left: 15px;padding-right: 15px;width: 180px}
#businessDiv{padding-left: 5px;}
#businessDiv .checkbox-inline{margin-left: 10px;}
.has-error #door_unit{color: #a94442;}
.order-language{width: 120px;}
.order-language a{color:#333;font-weight:bold}
.order-language a.active{color:#E73726;}
.bg-e6e6e6{background: #e6e6e6}
.ml-20{margin-left: 20px;}
.text-order{color:#E73726;border-bottom: 2px solid #e73726;padding: 0px 0px 2px 4px;}
.font-bold-16{font-size: 16px;font-weight: bold;}


.order-top{position: relative;z-index: 222;padding-top: 10px;}
.order-top .media-left{padding: 0 20px;background: #fff;}
.order-top .media-body{padding-left: 30px;}
.order-top .media-right{padding-top: 14px;}

.footer-bottom{position: absolute;bottom: 5px;width: 100%;z-index: 11;padding-bottom: 10px;}

.order-bottom{float: right;background: #fff;margin-right: 20px;padding: 0px 10px;}

.orderForm button{font-size: 16px;padding-left: 20px;padding-right: 20px;}


.text-break{word-break:keep-all; white-space:nowrap; }

.ptDiv,.tsDiv{border:1px solid #ddd;padding:10px;}
.tsDiv>.checkbox-inline:first-of-type{margin-left: 10px;}
.ptDiv>.checkbox-inline:first-of-type{margin-left: 10px;}
.ptDiv>.business-type,.tsDiv>.business-type{margin-bottom: 0px;}

.language{position: relative}
.language>ul{position: absolute;right: 20px;bottom: 3px;margin-bottom: 0px;}

.order_detail_bottom:after{content: " ";position: absolute;left: 2px;top: 13px;height: 0px;width: 0px;border-left: 8px solid red;border-top: 5px solid transparent;border-bottom: 5px solid transparent;}

.address-div{border:1px solid #ccc;margin-bottom: 20px;}
.address-div .media{padding: 0px 80px;margin-bottom: 20px;}
.address-div .media img{height: 100px;}
.address-div .dl-horizontal dt{width: 180px;}
.address-ex{margin-left: -15px;margin-right: -15px;border-bottom: 1px solid #ccc;padding: 0px 50px;margin-bottom: 10px;}

.load-order{position: absolute;top: 20%;left: 50%;width: 300px;padding:20px 10px;min-height: 80px;margin-left: -150px;background: #fff;border-radius: 10px;box-shadow: 5px 5px 5px inset rgba(0,0,0,.5);line-height: 27px;text-align: center;}
.load-order>.glyphicon{margin-right: 5px;}

.order-label{position: relative;padding-left: 15px;padding-right: 0px;text-align: left !important;}
.order-model-body{padding-left: 15px;padding-right: 15px;}
.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}
.fa-pulse {
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

body{
    font-size: 15px;
}

@media (max-width: 768px) {
    .order-top{padding-top: 20px;}
    .order-top>.media{overflow: visible;}
    .order_img_left{height: 75px;}
    .order_img_middle{height: 15px;}
    .order-top .media-body{padding-left: 10px;vertical-align: top;}
    .order-top .media-right{vertical-align: top;padding-top: 0px;}
    .order-language{width: 85px;font-size: 13px;margin-top: -3px;}
    .orderForm{padding-top: 60px;}
}
@media (min-width: 1000px){
    .order-model-left,.order-model-body{display: table-cell;vertical-align: top;}
    .order-model-body{width: 100%;}
    .order-label{float: left;width: 100px;}
    #door_unit{padding-left: 0px;}
}
@media (min-width: 1200px){
    .col-lg-offset-1-5 {
        margin-left: 12.5%;
    }
    .col-lg-3-5 {
        width: 37.5%;
    }
}
.kehu-div{
    color: #3e403e;
    padding-top: 15px;
    padding-bottom: 15px;
}
/*.btn-kehu{
    background: #ed1c24;
    color: #3e403e;
    border: 0;
}
.btn-kehu:hover,.btn-kehu:active{
    background: white;
    color: #3e403e;
}*/
.kehu-div-or{
    position: relative;
}
.kehu-div-or:before{
    content: " ";
    position: absolute;
    left: 0px;
    top:0px;
    width: 100%;
    height: 50%;
    border-bottom:1px solid #ddd ;
}
.kehu-div-or>span{
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 0px 12px;
    z-index: 2;
    background: #363434;
}
.kehu-div-ul{max-height: 500px;overflow-y: auto;}
.kehu-div-ul>li{padding: 5px 0px;border-bottom: 1px solid #ddd;}
.kehu-div-ul>li:last-child{padding-bottom: 5px;border-bottom:none;}
/*
.btn-kehu>.glyphicon{margin-right: 5px;vertical-align: -1px}*/

.down_address{position: relative;overflow: visible;}
#down_show{position: absolute;left: 15px;right: 15px;top: 100%;display: block;max-height: 250px;overflow-x: hidden;overflow-y: scroll;
    z-index: 999;background: #fff;border:1px solid #ccc;box-shadow:1px 2px 4px rgba(46, 55, 62, 0.2);display: none;
}
#down_show>ul{display: block;list-style: none;width: 100%;margin: 0px;padding: 0px;}
#down_show>ul>li{float: left;width: 100%;;margin: 0px;padding:6px 5px;}
#down_show>ul>li small{margin-left: 7px;font-size: 13px;color: #bdbdbd;}
